body
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
body, html {
  height: 100%;
}
.register-form{
    background-color: #ffffffd4;
    
}

.bg {
  /* The image used */
  background-image: url("/img/bg2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgAppointment {
  /* The image used */
  background-image: url("/img/bg4.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }


  /*header menu*/
  header {
    padding: .4rem 0 0;
  }
  .menu {
    padding: .4rem 2rem;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
  }
  header li {
    display: inline-block;
  }
  header li a {
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    display: block;
    height: 44px;
    text-decoration: none;
  }
  header li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
    /*background-color: rgba(214, 214, 214, 1);*/
  }
  header li.menu-item a:hover,
  header li.menu-item a:focus {
    background-color: rgba(221, 72, 20, .2);
    color: rgba(221, 72, 20, 1);
  }
  header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
  }
  header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }
  header .menu-toggle button {
    background-color: rgba(221, 72, 20, .6);
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    height: 36px;
    padding: 0;
    margin: 11px 0;
    overflow: visible;
    width: 40px;
  }
  header .menu-toggle button:hover,
  header .menu-toggle button:focus {
    background-color: rgba(221, 72, 20, .8);
    color: rgba(255, 255, 255, .8);
  }
  header .heroe {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
  }
  header .heroe h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  header .heroe h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }